@charset "UTF8";

* {
 
    font-family: Arial, Helvetica, sans-serif;
}



body{
    background-image:linear-gradient(to rigth,#04D939,#03A63C);
    background-color: aqua;
}

main{
    background-color: white;
    border-radius:10px;
    box-shadow:5px 5px 15px rgb(139, 92, 92);
    width: 600px;
    padding:10px;
    margin: auto;
}

h1{
   color:#35afc5;
   text-align:center;
   text-shadow: 1px 1px 2px #2be9cf;
}

h2{
    color:#025939;
}


p {
 text-align: justify;
}