@charset "UTF-8";

   
        body {
            background-color: rgb(241, 241, 246);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        h1 {
            color: whitesmoke;
            background-color: rgb(19, 20, 19);
        }

        h2 {
            color: rgb(226, 18, 18);
        }

        p {
            color: rgb(14, 14, 14);
        }
  